# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Logs
logs/

# Database
*.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Uploaded audio
uploads/

#testfiles
test_agent_service.py
test_data_parser.py
testmicr.py
test_agent.py